.tweet {
	background-color: #F8F9F9;
	width: 450px;
	margin: 10px;
	padding: 5px;
	text-align: center;
    color: black;	
    display: inline-block;
    position: relative;
    border-radius: 3px;
}

ul, .Tweets {
	list-style-type: none;
}

.Tweets {	
	/*background-color: red;*/
	text-align: center;
}

body {
	background-color: #5DADE2;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	/*background-image: url(clouds.png);*/
}

.date {
	font-size: 12px;
	font-style: italic;
	font-weight: lighter;
	opacity: .5;
}

.highlighted {
	background-color: white;
	box-shadow: 3px 3px 10px #212F3D;
	cursor: pointer;
}


.logo {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 10px;
	font-size: 5.9vw;
	height: 100px;
}

/*.logo:hover {
	box-shadow: 3px 3px 10px #212F3D;
	background-color: white;
	color: ;
}*/

.tweet-Container {
	margin: 20px;
	background-color: #5DADE2;
	width: auto;
}


/*Button*/

#More {
  display: inline-block;
  border-radius: 4px;
  background-color: #76D7C4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}

#More:hover {
	background-color: white;
	color: #76D7C4;
	box-shadow:0px 0px 0px 3px #76D7C4 inset;
	/*border-style: solid;
	border-width: 3px;*/
	/*border-color: #76D7C4;*/
}

/*Pop Up box styling*/
.PopUpBack {
	position: fixed;
	background-color: rgba(229, 231, 233, 0.7);/*rgba(0,0,0,0.7)*/
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	z-index: 1;
	display: none;
}

.PopUpBox {
	width: 40%;
	height: 70%;
	margin: 100px auto;
	color: black;
	background-color: #FDFEFE; /*#FDFEFE*/
	z-index: 1;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 5px 5px 10px #424949;

}

.usertweet {
	background-color: #F2F3F4; /*#F2F3F4*/
	margin: 5px;
	padding: 10px;
	width: 90%;
	text-align: center;
	border-radius: 10px;
	
}

.Tweets-Container {
	overflow: scroll;
	height:90%;
	background-color: white;
	z-index: 2;
	width: 100%;
}

.closeBox {
	height: auto;
	padding: 10px;
	width: 100%;
	
}

.close {
  background-color: #76D7C4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  
  width: 50%;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}

.close:hover, .newPostLink:hover{
	background-color: white;
	color: #76D7C4;
	box-shadow:0px 0px 0px 3px #76D7C4 inset;
}

.user {
	font-family: 'Dancing Script', cursive;
}

/*styling for the posting a twittler portion*/
.Post {
	position: relative;
	background-color: white;
	left: 40%;
	height: 200px;
	width: 200px;
	padding: 10px;
	margin:10px;
	text-align: center;
	display: none;
	
}

.tweet-Container {
	height: auto;
	vertical-align: center;
}

label {
	padding: 20px;
}

.newPostLink {
  border-radius: 4px;
  background-color: #76D7C4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}





